/*********************/
/* MODALE DE CONTACT */
/*********************/

#contact__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact__content {
  background-color: $blanc;
  width: 79%;
  min-width: 286px;
  max-width: 400px;
  height: 583px;
  border: 3px solid $noir;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @media screen and (min-width: 782px) and (max-width: 1023px) {
    max-width: 500px;
    height: 675px;
  }

  &::before {
    content: "";
    width: 160%;
    height: 55px;
    margin: 18px 0 14px;
    display: block;
    background-image: url("../nathaliemota/assets/images/contact-banner.png.webp");
    background-size: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 782px) and (max-width: 1023px) {
      width: 140%;
      height: 82px;
      margin-bottom: 30px;
    }
  }
}

#contact-background {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
}

.contact-opened {
  .contact__content {
    display: block;
  }

  #contact-background {
    display: block;
  }
}

/* Formulaire de contact */

.wpcf7 {
  height: 85%;

  & > * {
    height: 100%;
  }
}

.nmota-contact-form {
  width: 190px;
  margin: auto;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 782px) and (max-width: 1023px) {
    width: 220px;
  }

  & * {
    width: 100%; /* Appliquer la largeur à 100% à tous les enfants */
    box-sizing: border-box; /* Assurer que la largeur inclut la marge et le padding */
  }

  & p {
    height: auto;
    margin: 0;
    padding-bottom: 14px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 782px) and (max-width: 1023px) {
      padding-bottom: 19px;
    }

    & input,
    & textarea {
      border: 1px solid #b8bbc2;
      border-radius: 8px;
      margin-top: 5px;
    }

    & input {
      height: 40px;
    }

    & textarea {
      height: 149px;

      @media screen and (min-width: 782px) and (max-width: 1023px) {
        height: 180px;
      }
    }

    & .wpcf7-submit {
      margin-bottom: 24px;
    }
  }
}

.wpcf7-spinner {
  display: none;
}

/* MEDIA QUERIES - DESKTOP */

@media screen and (min-width: 1024px) {
  .contact__content {
    width: 600px;
    height: 769px;
    max-width: 600px;
    border: 5px solid $noir;

    &::before {
      width: 145%;
      height: 106px;
      margin-bottom: 46px;
      background-size: cover;
    }
  }

  /* Formulaire de contact */

  .nmota-contact-form {
    width: 263px;

    & p {
      padding-bottom: 24px;

      &:has(textarea) {
        padding-bottom: 19px;
      }

      & textarea {
        height: 210px;
      }
    }
  }
}
