/* Enregistrement des couleurs de la charte graphique */

$rouge-vif: #e00000;
$rouge-moyen: #fe5858;
$rose: #ffd6d6;
$noir: #000;
$bleu-fonce: #313144;
$gris-fonce: #c4c4c4;
$gris-moyen: #d8d8d8;
$gris-clair: #e5e5e5;
$blanc: #fff;
