@media screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  /**********/
  /* HEADER */
  /**********/

  .nmota__header {
    height: 80px;

    &__navigation {
      justify-content: space-between;

      > a {
        width: 216px;
        height: 14px;
        margin-left: 10.25%;
      }

      &--button {
        display: none;
      }

      &--menu {
        background-color: transparent;
        width: auto;
        height: 24px;
        margin-right: 10.25%;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        gap: 45px;
        opacity: 1;

        li a,
        li button {
          color: $noir;
          font-size: 16px;
        }
      }
    }
  }

  /*********************/
  /* MODALE DE CONTACT */
  /*********************/

  .contact__content {
    width: 600px;
    height: 769px;
    max-width: 600px;
    border: 5px solid $noir;

    &::before {
      width: 145%;
      height: 106px;
      margin-bottom: 46px;
      background-size: cover;
    }
  }

  /* Formulaire de contact */

  .nmota-contact-form {
    width: 263px;

    & p {
      padding-bottom: 24px;

      &:has(textarea) {
        padding-bottom: 19px;
      }

      & textarea {
        height: 210px;
      }
    }
  }

  /******************/
  /* ARCHIVE-PHOTOS */
  /******************/

  .archive-photo__title {
    font-size: 96px;
  }

  /*****************/
  /* SINGLE-PHOTOS */
  /*****************/

  .nmota-photo-post {
    width: 80%;
    margin: 38px auto 109px;

    &__content {
      flex-direction: row-reverse;
      align-items: normal;
      border: none;
      gap: 21px;

      &--main-picture {
        width: 50%;
        margin: 0;
      }

      &-description {
        width: 50%;
        justify-content: flex-end;
        border-bottom: 1px solid $noir;

        &--title {
          max-width: 420px;
          margin-bottom: 20px;
          font-size: 66px;
        }

        &--list {
          max-width: 420px;
          padding-bottom: 37px;
          gap: 20px;
          overflow: auto;
        }
      }
    }

    &__cta {
      justify-content: space-between;
      gap: 21px;

      &__main-container {
        width: 50%;
        height: 118px;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--intro {
          margin: 0;
          font-size: 14px;
        }

        &--button {
          width: 48%;
        }
      }

      &__nav {
        width: 81px;
        margin: 8px 0 16px;
        display: block;
        position: relative;

        &__thumbnails {
          & > a div {
            display: none;
            opacity: 0;

            &.display-thumbnail {
              display: block;
              opacity: 1;
            }

            & img {
              width: 81px;
            }
          }
        }

        &__arrows {
          width: 100%;
          height: 21px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          top: 88%;

          & a {
            width: 32%;
            height: 15px;
            display: flex;
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
          }

          &--prev {
            background-image: url("../nathaliemota/assets/images/prev-arrow.svg");

            &:hover {
              background-image: url("../nathaliemota/assets/images/prev-arrow-hover.svg");
            }
          }
          &--next {
            background-image: url("../nathaliemota/assets/images/next-arrow.svg");

            &:hover {
              background-image: url("../nathaliemota/assets/images/next-arrow-hover.svg");
            }
          }
        }
      }
    }

    &__suggestions {
      align-items: flex-start;

      &--title {
        margin: 77px 0 52px;
      }

      &--photos {
        width: 100%;
        margin: 0;
      }
    }
  }

  /**********/
  /* FOOTER */
  /**********/

  .nmota__footer {
    height: 40px;

    &__navigation {
      .nmota__footer__menu {
        flex-direction: row;
        gap: 86px;
      }
    }
  }
}
