@media screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  /**********/
  /* HEADER */
  /**********/

  .nmota__header {
    height: 80px;

    &__navigation {
      justify-content: space-between;

      > a {
        width: 216px;
        height: 14px;
        margin-left: 10.25%;
      }

      &--button {
        display: none;
      }

      &--menu {
        background-color: transparent;
        width: auto;
        height: 24px;
        margin-right: 10.25%;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        gap: 45px;
        opacity: 1;

        li a,
        li button {
          color: $noir;
          font-size: 16px;
        }
      }
    }
  }

  /*********************/
  /* MODALE DE CONTACT */
  /*********************/

  .contact__content {
    width: 600px;
    height: 769px;
    max-width: 600px;
    border: 5px solid $noir;

    &::before {
      width: 145%;
      height: 106px;
      margin-bottom: 46px;
      background-size: cover;
    }
  }

  /* Formulaire de contact */

  .nmota-contact-form {
    width: 263px;

    & p {
      padding-bottom: 24px;

      &:has(textarea) {
        padding-bottom: 19px;
      }

      & textarea {
        height: 210px;
      }
    }
  }

  /******************/
  /* ARCHIVE-PHOTOS */
  /******************/

  .archive-photo__title {
    font-size: 96px;
  }

  /**********/
  /* FOOTER */
  /**********/

  .nmota__footer {
    height: 40px;

    &__navigation {
      .nmota__footer__menu {
        flex-direction: row;
        gap: 86px;
      }
    }
  }
}
