/**********/
/* HEADER */
/**********/

#wpadminbar {
  /* On fixe la barre d'administration en haut de l'écran */
  position: absolute;
}

/* On met en gras le lien correspondant à la page en cours */
li.current-menu-item > a,
li.current_page_item > a {
  font-weight: 700;
}

.nmota__header {
  background-color: $blanc;
  width: 100%;
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);

  &__navigation {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    > a {
      width: 138px;
      height: 9px;
      margin-left: 11%;
      display: flex;
    }

    &--logo {
      width: 100%;
    }

    &--button {
      width: 1.7em;
      height: 19px;
      padding: 0;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      right: 11.25%;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../nathaliemota/assets/images/burger-menu-ouvrir.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        /* Léger zoom sur le bouton pendant le survol */
        transform: scale(1.3);
      }
    }

    /* burger-menu */

    &--menu {
      background-color: $rouge-vif;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 72px;
      left: 100vw;
      z-index: 100;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      transition-duration: 0.4s;

      li a,
      li button {
        color: $blanc;
        font-size: 44px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

/* Affichage du burger-menu */

.toggled {
  .nmota__header__navigation {
    &--button::after {
      background-image: url("../nathaliemota/assets/images/burger-menu-fermer.svg") !important;
    }

    &--menu {
      left: 0;
    }
  }
}

/* MEDIA QUERIES - DESKTOP */

@media screen and (min-width: 1024px) {
  .nmota__header {
    height: 80px;

    &__navigation {
      justify-content: space-between;

      > a {
        width: 216px;
        height: 14px;
        margin-left: 10.25%;
      }

      &--button {
        display: none;
      }

      &--menu {
        background-color: transparent;
        width: auto;
        height: 24px;
        margin-right: 10.25%;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        gap: 45px;
        opacity: 1;

        li a,
        li button {
          color: $noir;
          font-size: 16px;
        }
      }
    }
  }
}
