/* Global */

.default-button {
  background-color: $gris-moyen;
  font-size: 12px;
  height: 50px !important;
  padding: 8px 15px;
  border: none !important;
  border-radius: 2px !important;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    background-color: $noir;
    color: $blanc;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/**********/
/* HEADER */
/**********/

#wpadminbar {
  /* On fixe la barre d'administration en haut de l'écran */
  position: absolute;
}

/* On met en gras le lien correspondant à la page en cours */
li.current-menu-item > a,
li.current_page_item > a {
  font-weight: 700;
}

.nmota__header {
  background-color: $blanc;
  width: 100%;
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);

  &__navigation {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    > a {
      width: 138px;
      height: 9px;
      margin-left: 11%;
      display: flex;
    }

    &--logo {
      width: 100%;
    }

    &--button {
      width: 1.7em;
      height: 19px;
      padding: 0;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      right: 11.25%;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../nathaliemota/assets/images/burger-menu-ouvrir.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        /* Léger zoom sur le bouton pendant le survol */
        transform: scale(1.3);
      }
    }

    /* burger-menu */

    &--menu {
      background-color: $rouge-vif;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 72px;
      left: 100vw;
      z-index: 100;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      transition-duration: 0.4s;

      li a,
      li button {
        color: $blanc;
        font-size: 44px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

/* Affichage du burger-menu */

.toggled {
  .nmota__header__navigation {
    &--button::after {
      background-image: url("../nathaliemota/assets/images/burger-menu-fermer.svg") !important;
    }

    &--menu {
      left: 0;
    }
  }
}

/*********************/
/* MODALE DE CONTACT */
/*********************/

#contact__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact__content {
  background-color: $blanc;
  width: 79%;
  min-width: 286px;
  max-width: 400px;
  height: 583px;
  border: 3px solid $noir;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @media screen and (min-width: 782px) and (max-width: 1023px) {
    max-width: 500px;
    height: 675px;
  }

  &::before {
    content: "";
    width: 160%;
    height: 55px;
    margin: 18px 0 14px;
    display: block;
    background-image: url("../nathaliemota/assets/images/contact-banner.png.webp");
    background-size: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 782px) and (max-width: 1023px) {
      width: 140%;
      height: 82px;
      margin-bottom: 30px;
    }
  }
}

#contact-background {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
}

.contact-opened {
  .contact__content {
    display: block;
  }

  #contact-background {
    display: block;
  }
}

/* Formulaire de contact */

.wpcf7 {
  height: 85%;

  & > * {
    height: 100%;
  }
}

.nmota-contact-form {
  width: 190px;
  margin: auto;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 782px) and (max-width: 1023px) {
    width: 220px;
  }

  & * {
    width: 100%; /* Appliquer la largeur à 100% à tous les enfants */
    box-sizing: border-box; /* Assurer que la largeur inclut la marge et le padding */
  }

  & p {
    height: auto;
    margin: 0;
    padding-bottom: 14px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 782px) and (max-width: 1023px) {
      padding-bottom: 19px;
    }

    & input,
    & textarea {
      border: 1px solid #b8bbc2;
      border-radius: 8px;
      margin-top: 5px;
    }

    & input {
      height: 40px;
    }

    & textarea {
      height: 149px;

      @media screen and (min-width: 782px) and (max-width: 1023px) {
        height: 180px;
      }
    }

    & .wpcf7-submit {
      margin-bottom: 24px;
    }
  }
}

.wpcf7-spinner {
  display: none;
}

/******************/
/* ARCHIVE-PHOTOS */
/******************/

/* HERO */

.nmota-hero {
  width: 100%;
  position: relative;

  &__thumbnail {
    width: 100%;
    height: calc(100vw * 2 / 3);
    max-height: 962px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    color: $blanc; // Couleur de substitution au cas où le text-stroke n'est pas supporté par le navigateur
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.031em $blanc;
    width: 77%;
    font-size: 7.36vw;
    line-height: 41px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* FILTRES */

.nmota-filters-container {
  background-color: $gris-moyen;
  width: 100%;
  height: 70px;
  margin: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: $noir;
    text-align: center;
  }
}

/* LISTE DE PHOTOS */

.nmota-home-photo-list {
  width: 84.8vw;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

/*********************************/
/* PHOTO-BLOC (TEMPLATE PARTIEL) */
/*********************************/

.photo-block {
  position: relative;
  width: 100%;
  padding-bottom: calc(
    279 / 318 * 100%
  ); // Calcul du rapport hauteur/largeur (279 est la hauteur en px, 318 est la largeur)
  overflow: hidden;

  & a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*****************/
/* SINGLE-PHOTOS */
/*****************/

.nmota-photo-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $noir;

    &--main-picture {
      width: 70.6vw;
      height: auto;
      margin: 20px 0 20px;

      figure {
        margin: 0;

        img {
          object-fit: contain;
        }
      }
    }

    &-description {
      width: 70.6vw;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-transform: uppercase;

      &--title {
        margin: 0 0 15px;
        font-size: 46px;
      }

      &--list {
        margin: 0;
        padding: 0 0 41px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 15px;
      }
    }
  }

  &__cta {
    width: 100%;
    display: flex;
    justify-content: center;

    &__main-container {
      width: 70vw;
      margin-bottom: 23px;
      display: flex;
      flex-direction: column;

      &--intro {
        margin: 24px 0 15px;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &__nav {
      display: none;
    }
  }

  &__suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $noir;

    &--title {
      margin: 24px 0 20px;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
    }

    &--photos {
      width: 84.8vw;
      margin: 0 0 24px;
      display: flex;
      flex-direction: column;
      gap: 21px;
    }
  }
}

/**********/
/* FOOTER */
/**********/

.nmota__footer {
  width: 100%;
  height: 208px;
  border-top: 1px solid $noir;

  &__navigation {
    width: 100%;
    height: 100%;

    .nmota__footer__menu {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      li {
        a,
        p {
          color: $noir;
          font-size: 16px;
          margin: 0;
          text-transform: uppercase;
          text-decoration: none;
        }

        a:hover {
          font-weight: 700;
        }
      }
    }
  }
}
