/*********************************/
/* PHOTO-BLOC (TEMPLATE PARTIEL) */
/*********************************/

.photo-block {
  position: relative;
  width: 100%;
  padding-bottom: calc(
    279 / 318 * 100%
  ); // Calcul du rapport hauteur/largeur (279 est la hauteur en px, 318 est la largeur)
  overflow: hidden;

  a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;

    .icon-eye,
    .icon-fullscreen {
      opacity: 0.6;
      transition: opacity 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      img {
        display: block;
        height: auto;
      }
    }

    .icon-eye {
      img {
        width: 10vw;
        max-width: 46px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .icon-fullscreen {
      position: absolute;
      top: 2%;
      right: 3%;

      img {
        width: 7vw;
        max-width: 34px;
      }
    }

    .photo-details {
      width: 100%;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 12px;

      .photo-reference {
        align-self: flex-end;
        text-align: left;
        margin-left: 20px;
      }

      .photo-category {
        align-self: flex-end;
        text-align: right;
        margin-right: 20px;
      }
    }
  }

  &:hover .photo-overlay {
    opacity: 1;
  }
}

/* MEDIA QUERIES - DESKTOP */

@media screen and (min-width: 1024px) {
  .photo-block {
    height: 34.375vw; //          On exprime la hauteur en fonction de la largeur de la page.
    max-height: 495px; //         (pour 1440px: l = 1440 px -> 100 %
    padding-bottom: 0; //                       h = 495 px -> ? %    -> ? = (495*100)/1440 -> 34.375 % )
  }
}
